{% extends "main/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="display-4">About Edutrack</h1>
            <p class="lead mt-3">
                Welcome to Edutrack – a platform designed to help students maximize their productivity, manage their study time, and collaborate on academic growth.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12">
            <h2 class="text-center">Our Mission</h2>
            <p class="text-center">
                At Edutrack, we are committed to providing students with tools that foster effective time management and academic success. We believe that by offering a supportive community and resources, students can reach their full potential.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-6">
            <h2>Key Features</h2>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">User Authentication: Manage your account with ease.</li>
                <li class="list-group-item list-group-item-light">Post Sharing: Share study tips and productivity hacks.</li>
                <li class="list-group-item list-group-item-light">Study Timer: Track your study sessions efficiently.</li>
                <li class="list-group-item list-group-item-light">Roadmaps: Access curated learning paths for academic success.</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <h2>Why Choose Edutrack?</h2>
            <p>
                We understand the challenges of maintaining a productive academic life. Our platform offers the tools you need to manage your study time effectively, stay on track with deadlines, and collaborate with peers to share valuable insights and strategies.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-12 text-center">
            <h3>Get in Touch</h3>
            <p>
                Have questions or feedback? We'd love to hear from you. <a href="https://www.linkedin.com/in/omar-elbanna-z1/">Contact us</a> to help us improve your Edutrack experience!
            </p>
        </div>
    </div>
</div>
{% endblock content %}
